@charset "UTF-8";
body, html { font-family: 'Noto Sans KR', sans-serif; }
ul { list-style:none; }
.orbit-slide{height:600px;}
.orbit-container {height:600px;}
.small-12 cell > label{font-size:25px;}
#logo { display:block; width:100px; height:50px; background-image:url(""); background-color:white;
background-size:90% auto; background-repeat:no-repeat; background-position:center center;  z-index:91;}
#gnb > ul > li[role="menuitem"] { height:38px; }
#gnb > ul > li.menu-text[role="menuitem"] { padding-top:0px; padding-bottom:0px; }
.h1 { padding-top:0.9rem; padding-bottom:0.3rem; }
.container { clear:both; width:1200px; margin:0 auto; }
.container::after { content:""; display:block; width:100%; clear:both; }
#table1 th { border-bottom:1px solid #fff; }
#logo1{display:block;width:130px;height:38px; background-color:transparent; float:left; padding-top: 0px;}
#logo2{padding-top:20px;}
.button-group{float:right;}
.cjbio-pb {background-image:url("./data/map.png");height:500px; padding-top:120px;}
.page-info{display:block; width:100%; height:460px; background-color:#f4651f;  color:#fff; padding-top:150px;}
.inner-mission {background-image:url("./data/mission.png"); height:700px; background-size:80% auto; background-repeat:no-repeat; background-position:center center;}
.lead, .subheader { white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.grid-container{padding-bottom: 100px;}
.callout {height: 356px;}
.pic img{height: 223px;}